= render 'devise/shared/tab_single', tab_title: 'Resend confirmation instructions'
.login-box.gl-p-5
  .login-body
    = gitlab_ui_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'gl-show-field-errors' }) do |f|
      .devise-errors
        = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control gl-form-input", required: true, autocomplete: 'off', title: _('Please provide a valid email address.'), value: nil
        .form-text.gl-text-secondary
          = _('Requires your primary GitLab email address.')

      %div
      - if recaptcha_enabled?
        = recaptcha_tags nonce: content_security_policy_nonce

      .gl-mt-5
        = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, block: true, button_options: { class: 'gl-mb-0' }) do
          = _("Resend")

.clearfix.prepend-top-20
  = render 'devise/shared/sign_in_link'
